body { 
    background: url( ../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size:
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container { 
    margin-top: 100px;
    width: 600px;
}

h1 { 
    
    font-family: 'Pacifico', cursive;
}

.selected { 
    font-family: 'Pacifico', cursive;
    font-family: 'Acme', sans-serif;
}

img { 
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.eachhike { 
    border: solid lightgray 1px;
    margin: 15px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.inline { 
    display: inline;
}

p { 
    font-family: 'Muli', sans-serif;
}

h3 { 
    font-family: 'Pacifico', cursive;
    font-family: 'Acme', sans-serif;
}